<h1 class="page-header text-center">Welcome {{admin?.name}}</h1>

<div [ngClass]="messageClass" *ngIf="message" class="w-75 mx-auto  alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<br />
<h3 class="text-center" *ngIf="fairActive">
    Active fair is {{fair?.name}}
</h3>
<button *ngIf="fairActive && fairOver" class="btn btn-info float-right" (click)="onFinishFairClick()">Finish
    fair</button>

<table *ngIf="fairActive && fair?.files && fair.files.length > 0">
    <thead class="font-weight-bold">
        Files
    </thead>
    <tbody>
        <tr *ngFor="let file of fair.files">
            <td>
                <a [href]="file">
                    {{ file |fileName}}
                </a>
            </td>
        </tr>
    </tbody>
</table>


<h3 class="text-center" *ngIf="!fairActive">No active fair</h3>
<br />


<app-fair-update-deadlines *ngIf="fairActive && !fairOver" [(fair)]="fair"></app-fair-update-deadlines>

<app-fair-update-max-companies *ngIf="fairActive && !fairOver" [(fair)]="fair"></app-fair-update-max-companies>

<app-fair-approve *ngIf="fairActive && !fairOver" [(fair)]="fair"></app-fair-approve>

<app-fair-update-periods *ngIf="fairActive && !fairOver" [(fair)]="fair"></app-fair-update-periods>

<app-fair-create *ngIf="!fairActive" (fairCreated)="onFairCreated($event)"></app-fair-create>