<h1 class="page-header text-center">Change password</h1>

<div [ngClass]="messageClass" *ngIf="message" class="w-75 mx-auto  alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form [formGroup]="form" (submit)="onChangePasswordSubmit()" class="w-75 mx-auto" action="post">

    <!-- username -->
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" formControlName="username" placeholder="Username"
            [ngClass]="{'is-invalid': username.errors, 'is-valid': !username.errors}" />
        <ul class="form-text text-danger">
            <span *ngFor="let v of validationData.username | keyvalue">
                <li *ngIf="username.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- password -->
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" formControlName="password" placeholder="Password"
            [ngClass]="{'is-invalid': password.errors, 'is-valid': !password.errors}" />
        <ul class="form-text text-danger">
            <span *ngFor="let v of validationData.password | keyvalue">
                <li *ngIf="password.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- new password -->
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" name="newPassword" class="form-control" formControlName="newPassword" placeholder="New password"
            [ngClass]="{'is-invalid': newPassword.errors, 'is-valid': !newPassword.errors}" />
        <ul class="form-text text-danger">
            <span *ngFor="let v of validationData.newPassword | keyvalue">
                <li *ngIf="newPassword.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- user type -->
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input formControlName="type" class="form-check-input" type="radio" value="admin" name="type">
            <label class="form-check-label" for="admin">admin</label>
        </div>
        <div class="form-check form-check-inline">
            <input formControlName="type" class="form-check-input" type="radio" value="student" name="type">
            <label class="form-check-label" for="student">student</label>
        </div>
        <div class="form-check form-check-inline">
            <input formControlName="type" class="form-check-input" type="radio" value="company" name="type">
            <label class="form-check-label" for="company">company</label>
        </div>
    </div>

    <!-- submit -->
    <input [disabled]="!form.valid" type="submit" class="btn btn-info" value="Change password" />

</form>