<h1 class="page-header text-center">CV corner</h1>

<div [ngClass]="messageClass" *ngIf="message" class="w-75 mx-auto  alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<form [formGroup]="form" class="w-75 mx-auto" action="post">

    <h5 class="text-center text-info">
        Personal information
    </h5>

    <!-- Name Input -->
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" formControlName="name" [ngClass]="{'is-invalid': name.errors, 'is-valid': !name.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.name | keyvalue">
                <li *ngIf="name.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>


    <!-- Surname Input -->
    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" name="surname" class="form-control" formControlName="surname" [ngClass]="{'is-invalid': surname.errors, 'is-valid': !surname.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.surname | keyvalue">
                <li *ngIf="surname.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Address Input -->
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" name="address" class="form-control" formControlName="address" [ngClass]="{'is-invalid': address.errors, 'is-valid': !address.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.address | keyvalue">
                <li *ngIf="address.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Telephone Input -->
    <div class="form-group">
        <label for="telephone">Telephone</label>
        <input type="text" name="telephone" class="form-control" formControlName="telephone" [ngClass]="{'is-invalid': telephone.errors, 'is-valid': !telephone.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.telephone | keyvalue">
                <li *ngIf="telephone.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>


    <!-- Email Input -->
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid': email.errors, 'is-valid': !email.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.email | keyvalue">
                <li *ngIf="email.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Website Input -->
    <div class="form-group">
        <label for="website">Web site</label>
        <input type="text" name="website" class="form-control" formControlName="website" [ngClass]="{'is-invalid': website.errors, 'is-valid': !website.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.website | keyvalue">
                <li *ngIf="website.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- im account Input -->
    <div class="form-group">
        <label for="imAccount">Im account</label>
        <input type="text" name="imAccount" class="form-control" formControlName="imAccount" [ngClass]="{'is-invalid': imAccount.errors, 'is-valid': !imAccount.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.imAccount | keyvalue">
                <li *ngIf="imAccount.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- sex -->
    <div>
        <label>Sex &nbsp;</label>
        <div class="form-check form-check-inline">
            <input formControlName="sex" class="form-check-input" type="radio" value="male" name="sex">
            <label class="form-check-label" for="male">male</label>
        </div>
        <div class="form-check form-check-inline">
            <input formControlName="sex" class="form-check-input" type="radio" value="female" name="sex">
            <label class="form-check-label" for="female">female</label>
        </div>
    </div>

    <!-- dateOfBirth Input -->
    <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <input type="date" name="dateOfBirth" class="form-control" formControlName="dateOfBirth" [ngClass]="{'is-invalid': dateOfBirth.errors, 'is-valid': !dateOfBirth.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.dateOfBirth | keyvalue">
                <li *ngIf="dateOfBirth.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- nationality Input -->
    <div class="form-group">
        <label for="nationality">Nationality</label>
        <input type="text" name="nationality" class="form-control" formControlName="nationality" [ngClass]="{'is-invalid': nationality.errors, 'is-valid': !nationality.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.nationality | keyvalue">
                <li *ngIf="nationality.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <h5 class="text-center text-info">Experience</h5>
    <!-- experience -->
    <div formArrayName="experience">
        <div class="form-group border border-info p-2" *ngFor="let e of experience.controls; let i = index" [formGroupName]="i">
            <h5 class="text-center text-info">Experience {{i+1}}</h5>
            <div name="i">
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input type="date" name="startDate" class="form-control" formControlName="startDate" [ngClass]="{'is-invalid': e.controls.startDate.errors, 'is-valid': !e.controls.startDate.errors}" />
                    <!-- Validation -->
                    <ul class="form-text text-danger">
                        <span *ngFor="let v of vData.expStartDate | keyvalue">
                            <li *ngIf="e.controls.startDate.hasError(v.key)"> {{v.value[1]}}</li>
                        </span>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <input type="date" name="endDate" class="form-control" formControlName="endDate" [ngClass]="{'is-invalid':  e.controls.endDate.errors || e.errors?.checkDates, 'is-valid': ! e.controls.endDate.errors && !e.errors?.checkDates}" />
                    <ul class="form-text text-danger">
                        <span *ngFor="let v of vData.expEndDate | keyvalue">
                            <li *ngIf="e.controls.endDate.hasError(v.key)"> {{v.value[1]}}</li>
                        </span>
                        <li *ngIf="e.errors?.checkDates">Start date cannot be before end date</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="position">Position</label>
                    <input type="text" name="position" class="form-control" formControlName="position" [ngClass]="{'is-invalid': e.controls.position.errors, 'is-valid': !e.controls.position.errors}" />
                    <!-- Validation -->
                    <ul class="form-text text-danger">
                        <span *ngFor="let v of vData.position | keyvalue">
                            <li *ngIf="e.controls.position.hasError(v.key)"> {{v.value[1]}}</li>
                        </span>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="employer">Employer</label>
                    <input type="text" name="employer" class="form-control" formControlName="employer" [ngClass]="{'is-invalid': e.controls.employer.errors, 'is-valid': !e.controls.employer.errors}" />
                    <!-- Validation -->
                    <ul class="form-text text-danger">
                        <span *ngFor="let v of vData.employer | keyvalue">
                            <li *ngIf="e.controls.employer.hasError(v.key)"> {{v.value[1]}}</li>
                        </span>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="activities">Activities</label>
                    <input type="text" name="activities" class="form-control" formControlName="activities" [ngClass]="{'is-invalid': e.controls.activities.errors, 'is-valid': !e.controls.activities.errors}" />
                    <!-- Validation -->
                    <ul class="form-text text-danger">
                        <span *ngFor="let v of vData.activities | keyvalue">
                            <li *ngIf="e.controls.activities.hasError(v.key)"> {{v.value[1]}}</li>
                        </span>
                    </ul>
                </div>
            </div>
            <button class="btn btn-info btn-sm" (click)="onDeleteExperience(i)">Delete</button>
        </div>
        <button class="btn btn-info btn-sm" (click)="onAddExperience()">Add experience</button>
    </div>

    <h5 class="text-center text-info">Education</h5>
    <!-- education -->
    <div formArrayName="education">
        <div class="form-group border border-info p-2" *ngFor="let e of education.controls; let i = index" [formGroupName]="i">
            <h5 class="text-center text-info">Education {{i+1}}</h5>
            <div name="i">
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input type="date" name="startDate" class="form-control" formControlName="startDate" [ngClass]="{'is-invalid': e.controls.startDate.errors, 'is-valid': !e.controls.startDate.errors}" />
                    <!-- Validation -->
                    <ul class="form-text text-danger">
                        <span *ngFor="let v of vData.eduStartDate | keyvalue">
                            <li *ngIf="e.controls.startDate.hasError(v.key)"> {{v.value[1]}}</li>
                        </span>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <input type="date" name="endDate" class="form-control" formControlName="endDate" [ngClass]="{'is-invalid':  e.controls.endDate.errors || e.errors?.checkDates, 'is-valid': ! e.controls.endDate.errors && !e.errors?.checkDates}" />
                    <ul class="form-text text-danger">
                        <span *ngFor="let v of vData.eduEndDate | keyvalue">
                            <li *ngIf="e.controls.endDate.hasError(v.key)"> {{v.value[1]}}</li>
                        </span>
                        <li *ngIf="e.errors?.checkDates">Start date cannot be before end date</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="qualification">Qualification</label>
                    <input type="text" name="position" class="form-control" formControlName="qualification" [ngClass]="{'is-invalid': e.controls.qualification.errors, 'is-valid': !e.controls.qualification.errors}" />
                    <!-- Validation -->
                    <ul class="form-text text-danger">
                        <span *ngFor="let v of vData.qualification | keyvalue">
                            <li *ngIf="e.controls.qualification.hasError(v.key)"> {{v.value[1]}}</li>
                        </span>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="institution">Institution</label>
                    <input type="text" name="institution" class="form-control" formControlName="institution" [ngClass]="{'is-invalid': e.controls.institution.errors, 'is-valid': !e.controls.institution.errors}" />
                    <!-- Validation -->
                    <ul class="form-text text-danger">
                        <span *ngFor="let v of vData.institution | keyvalue">
                            <li *ngIf="e.controls.institution.hasError(v.key)"> {{v.value[1]}}</li>
                        </span>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="subjects">Subjects</label>
                    <input type="text" name="subjects" class="form-control" formControlName="subjects" [ngClass]="{'is-invalid': e.controls.subjects.errors, 'is-valid': !e.controls.subjects.errors}" />
                    <!-- Validation -->
                    <ul class="form-text text-danger">
                        <span *ngFor="let v of vData.subjects | keyvalue">
                            <li *ngIf="e.controls.subjects.hasError(v.key)"> {{v.value[1]}}</li>
                        </span>
                    </ul>
                </div>
            </div>
            <button class="btn btn-info btn-sm" (click)="onDeleteEducation(i)">Delete</button>
        </div>
        <button class="btn btn-info btn-sm" (click)="onAddEducation()">Add education</button>
    </div>

    <h5 class="text-center text-info">Personal skills</h5>

    <!-- mother tounge -->
    <div class="form-group">
        <label for="motherTongue">Mother tongue</label>
        <input type="text" name="motherTongue" class="form-control" formControlName="motherTongue" [ngClass]="{'is-invalid': motherTongue.errors, 'is-valid': !motherTongue.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.motherTongue | keyvalue">
                <li *ngIf="motherTongue.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- languages -->
    <div formArrayName="languages">
        <div class="form-group border border-info p-2" *ngFor="let e of languages.controls; let i = index"
            [formGroupName]="i">
            <h5 class="text-center text-info">Language {{i+1}}</h5>
            <div name="i">
                <div class="form-group">
                    <label for="language">Language</label>
                    <input type="text" name="language" class="form-control" formControlName="language" [ngClass]="{'is-invalid': e.controls.language.errors, 'is-valid': !e.controls.language.errors}" />
                    <!-- Validation -->
                    <ul class="form-text text-danger">
                        <span *ngFor="let v of vData.language | keyvalue">
                            <li *ngIf="e.controls.language.hasError(v.key)"> {{v.value[1]}}</li>
                        </span>
                    </ul>
                </div>
                <table>
                    <tr>
                        <!-- listening -->
                        <td> <label for="listenig">Listening &nbsp;</label> </td>
                        <td *ngFor="let l of languageLevels" class="form-check form-check-inline">
                            <input formControlName="listenig" class="form-check-input" type="radio" value="{{l}}" name="listenig">
                            <label class="form-check-label" for="l">{{l}}</label>
                        </td>
                    </tr>
                    <tr>
                        <!-- reading -->
                        <td> <label for="reading">Reading &nbsp;</label></td>
                        <td *ngFor="let l of languageLevels" class="form-check form-check-inline">
                            <input formControlName="reading" class="form-check-input" type="radio" value="{{l}}" name="reading">
                            <label class="form-check-label" for="l">{{l}}</label>
                        </td>
                    </tr>
                    <tr>
                        <!-- writing -->
                        <td><label for="writing">Writing &nbsp;</label></td>
                        <td *ngFor="let l of languageLevels" class="form-check form-check-inline">
                            <input formControlName="writing" class="form-check-input" type="radio" value="{{l}}" name="writing">
                            <label class="form-check-label" for="l">{{l}}</label>
                        </td>
                    </tr>
                    <tr>
                        <!-- speaking -->
                        <td> <label for="speaking">Speaking &nbsp;</label> </td>
                        <td *ngFor="let l of languageLevels" class="form-check form-check-inline">
                            <input formControlName="speaking" class="form-check-input" type="radio" value="{{l}}" name="speaking">
                            <label class="form-check-label" for="l">{{l}}</label>
                        </td>
                    </tr>
                </table>
            </div>
            <button class="btn btn-info btn-sm" (click)="onDeleteLanguage(i)">Delete</button>
        </div>
        <button class="btn btn-info btn-sm" (click)="onAddLanguage()">Add language</button>
    </div>

    <!-- communicationSkills -->
    <div class="form-group">
        <label for="communicationSkills">Communication skills</label>
        <input type="text" name="communicationSkills" class="form-control" formControlName="communicationSkills"
            [ngClass]="{'is-invalid': communicationSkills.errors, 'is-valid': !communicationSkills.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.skill | keyvalue">
                <li *ngIf="communicationSkills.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- organisationalSkills -->
    <div class="form-group">
        <label for="organisationalSkills">Organisational skills</label>
        <input type="text" name="organisationalSkills" class="form-control" formControlName="organisationalSkills"
            [ngClass]="{'is-invalid': organisationalSkills.errors, 'is-valid': !organisationalSkills.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.skill | keyvalue">
                <li *ngIf="organisationalSkills.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- jobRelatedSkills -->
    <div class="form-group">
        <label for="jobRelatedSkills">Job related skills</label>
        <input type="text" name="jobRelatedSkills" class="form-control" formControlName="jobRelatedSkills" [ngClass]="{'is-invalid': jobRelatedSkills.errors, 'is-valid': !jobRelatedSkills.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.skill | keyvalue">
                <li *ngIf="jobRelatedSkills.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- digitalSkills -->
    <div class="form-group">
        <label for="digitalSkills">Digital skills</label>
        <input type="text" name="digitalSkills" class="form-control" formControlName="digitalSkills" [ngClass]="{'is-invalid': digitalSkills.errors, 'is-valid': !digitalSkills.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.skill | keyvalue">
                <li *ngIf="digitalSkills.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- otherSkills -->
    <div class="form-group">
        <label for="otherSkills">Other skills</label>
        <input type="text" name="otherSkills" class="form-control" formControlName="otherSkills" [ngClass]="{'is-invalid': otherSkills.errors, 'is-valid': !otherSkills.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.skill | keyvalue">
                <li *ngIf="otherSkills.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- drivingLicence -->
    <div class="form-group form-check">
        <input type="checkbox" name="drivingLicence" class="form-check-input" autocomplete="off" formControlName="drivingLicence" />
        <label for="drivingLicence">Driving licence</label>
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.drivingLicence | keyvalue">
                <li *ngIf="drivingLicence.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- additionalInformation -->
    <div class="form-group">
        <label for="additionalInformation">Additional information licence</label>
        <input type="text" name="additionalInformation" class="form-control" formControlName="additionalInformation"
            [ngClass]="{'is-invalid': additionalInformation.errors, 'is-valid': !additionalInformation.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.additionalInformation | keyvalue">
                <li *ngIf="additionalInformation.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Submit Input -->
    <input [disabled]="!form.valid" type="submit" class="btn btn-info" value="Submit" (click)="onCvSubmit()" />

</form>
<!-- Registration Form /-->