<h1 class="page-header text-center">CV corner</h1>

<div [ngClass]="messageClass" *ngIf="message" class="w-75 mx-auto  alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<form [formGroup]="form" class="w-75 mx-auto" action="post">

    <h5 class="text-center text-info">
        Personal information
    </h5>

    <!-- Name Input -->
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" formControlName="name" [ngClass]="{'is-invalid': name.errors, 'is-valid': !name.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.name | keyvalue">
                <li *ngIf="name.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>


    <!-- Surname Input -->
    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" name="surname" class="form-control" formControlName="surname" [ngClass]="{'is-invalid': surname.errors, 'is-valid': !surname.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.surname | keyvalue">
                <li *ngIf="surname.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Address Input -->
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" name="address" class="form-control" formControlName="address" [ngClass]="{'is-invalid': address.errors, 'is-valid': !address.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.address | keyvalue">
                <li *ngIf="address.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Telephone Input -->
    <div class="form-group">
        <label for="telephone">Telephone</label>
        <input type="text" name="telephone" class="form-control" formControlName="telephone" [ngClass]="{'is-invalid': telephone.errors, 'is-valid': !telephone.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.telephone | keyvalue">
                <li *ngIf="telephone.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>


    <!-- Email Input -->
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid': email.errors, 'is-valid': !email.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.email | keyvalue">
                <li *ngIf="email.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Website Input -->
    <div class="form-group">
        <label for="website">Web site</label>
        <input type="text" name="website" class="form-control" formControlName="website" [ngClass]="{'is-invalid': website.errors, 'is-valid': !website.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.website | keyvalue">
                <li *ngIf="website.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- im account Input -->
    <div class="form-group">
        <label for="imAccount">Web site</label>
        <input type="text" name="imAccount" class="form-control" formControlName="imAccount" [ngClass]="{'is-invalid': imAccount.errors, 'is-valid': !imAccount.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.imAccount | keyvalue">
                <li *ngIf="imAccount.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- sex -->
    <div>
        <label>Sex &nbsp;</label>
        <div class="form-check form-check-inline">
            <input formControlName="sex" class="form-check-input" type="radio" value="male" name="sex">
            <label class="form-check-label" for="male">male</label>
        </div>
        <div class="form-check form-check-inline">
            <input formControlName="sex" class="form-check-input" type="radio" value="female" name="sex">
            <label class="form-check-label" for="female">female</label>
        </div>
    </div>

    <!-- dateOfBirth Input -->
    <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <input type="date" name="dateOfBirth" class="form-control" formControlName="dateOfBirth" [ngClass]="{'is-invalid': dateOfBirth.errors, 'is-valid': !dateOfBirth.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.dateOfBirth | keyvalue">
                <li *ngIf="dateOfBirth.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- nationality Input -->
    <div class="form-group">
        <label for="nationality">Nationality</label>
        <input type="text" name="nationality" class="form-control" formControlName="nationality" [ngClass]="{'is-invalid': nationality.errors, 'is-valid': !nationality.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.nationality | keyvalue">
                <li *ngIf="nationality.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <h5 class="text-center text-info">Experience</h5>
    <!-- experience -->
    <div formArrayName="experience">
        <div class="form-group border border-info" *ngFor="let e of form.get('experience').controls; let i = index"
            [formGroupName]="i">
            <h5 class="text-center text-info">Experience {{i+1}}</h5>
            <div name="i">
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input type="date" name="startDate" class="form-control" autocomplete="off" placeholder="*Start date"
                        formControlName="startDate" />

                    <!-- Validation -->
                    <ul class="form-text text-danger">
                        <li *ngIf="e.controls.startDate.errors?.required">This
                            field is required</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <input type="date" name="endDate" class="form-control" autocomplete="off" placeholder="*End date"
                        formControlName="endDate" />
                </div>
                <div class="form-group">
                    <label for="position">Position</label>
                    <input type="text" name="position" class="form-control" autocomplete="off" placeholder="*Position"
                        formControlName="position" />

                    <!-- Validation -->
                    <ul class="form-text text-danger">
                        <li *ngIf="e.controls.position.errors?.required">This
                            field is required</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="employer">Employer</label>
                    <input type="text" name="employer" class="form-control" autocomplete="off" placeholder="*Employer"
                        formControlName="employer" />

                    <!-- Validation -->
                    <ul class="form-text text-danger">
                        <li *ngIf="e.controls.employer.errors?.required">This
                            field is required</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="activities">Activities</label>
                    <input type="text" name="activities" class="form-control" autocomplete="off" placeholder="*Activities"
                        formControlName="activities" />
                </div>
            </div>
            <button class="btn btn-info" (click)="onDeleteExperience(i)">Delete</button>
        </div>
        <button class="btn btn-info" (click)="onAddExperience()">Add experience</button>
    </div>

    <h5 class="text-center text-info">Education</h5>
    <!-- education -->
    <div formArrayName="education">
        <div class="form-group border border-info" *ngFor="let e of form.get('education').controls; let i = index"
            [formGroupName]="i">
            <h5 class="text-center text-info">Education {{i+1}}</h5>
            <div name="i">
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input type="date" name="startDate" class="form-control" autocomplete="off" placeholder="*Start date"
                        formControlName="startDate" />
                    <!-- Validation -->
                    <ul class="form-text text-danger">
                        <li *ngIf="e.controls.startDate.errors?.required">This
                            field is required</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="endDate">End Date</label>
                    <input type="date" name="endDate" class="form-control" autocomplete="off" placeholder="*End date"
                        formControlName="endDate" />
                </div>
                <div class="form-group">
                    <label for="qualification">Qualification</label>
                    <input type="text" name="qualification" class="form-control" autocomplete="off" placeholder="*Qualification"
                        formControlName="qualification" />
                    <!-- Validation -->
                    <ul class="form-text text-danger">
                        <li *ngIf="e.controls.qualification.errors?.required">This
                            field is required</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="institution">Institution</label>
                    <input type="text" name="institution" class="form-control" autocomplete="off" placeholder="*Institution"
                        formControlName="institution" />
                    <!-- Validation -->
                    <ul class="form-text text-danger">
                        <li *ngIf="e.controls.institution.errors?.required">This
                            field is required</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="subjects">Subjects</label>
                    <input type="text" name="subjects" class="form-control" autocomplete="off" placeholder="*Subjects"
                        formControlName="subjects" />
                </div>
            </div>
            <button class="btn btn-info" (click)="onDeleteEducation(i)">Delete</button>
        </div>
        <button class="btn btn-info" (click)="onAddEducation()">Add education</button>
    </div>

    <h5 class="text-center text-info">Personal skills</h5>

    <!-- mother tounge -->
    <div class="form-group">
        <label for="motherTongue">Mother tongue</label>
        <input type="text" name="motherTongue" class="form-control" formControlName="motherTongue" [ngClass]="{'is-invalid': motherTongue.errors, 'is-valid': !motherTongue.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.motherTongue | keyvalue">
                <li *ngIf="motherTongue.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- languages -->
    <div formArrayName="languages">
        <div class="form-group border border-info" *ngFor="let e of form.get('languages').controls; let i = index"
            [formGroupName]="i">
            <h5 class="text-center text-info">Language {{i+1}}</h5>
            <div name="i">
                <div class="form-group">
                    <label for="language">Language</label>
                    <input type="text" name="language" class="form-control" autocomplete="off" placeholder="*Language"
                        formControlName="language" />
                    <!-- Validation -->
                    <ul class="form-text text-danger">
                        <li *ngIf="e.controls.language.errors?.required">This
                            field is required</li>
                    </ul>
                </div>

                <!-- listenig -->
                <div>
                    <label for="listenig">Listening &nbsp;</label>
                    <div class="form-check form-check-inline">
                        <input formControlName="listenig" class="form-check-input" type="radio" value="A1" name="listenig">
                        <label class="form-check-label" for="A1">A1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="listenig" class="form-check-input" type="radio" value="A2" name="listenig">
                        <label class="form-check-label" for="A2">A2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="listenig" class="form-check-input" type="radio" value="B1" name="listenig">
                        <label class="form-check-label" for="B1">B1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="listenig" class="form-check-input" type="radio" value="B2" name="listenig">
                        <label class="form-check-label" for="B2">B2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="listenig" class="form-check-input" type="radio" value="C1" name="listenig">
                        <label class="form-check-label" for="C1">C1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="listenig" class="form-check-input" type="radio" value="C2" name="listenig">
                        <label class="form-check-label" for="C2">C2</label>
                    </div>

                    <ul class="form-text text-danger">
                        <li *ngIf="e.controls.listenig.errors?.required">This
                            field is required</li>
                    </ul>
                </div>

                <!-- reading -->
                <div>
                    <label for="reading">Reading &nbsp;</label>
                    <div class="form-check form-check-inline">
                        <input formControlName="reading" class="form-check-input" type="radio" value="A1" name="reading">
                        <label class="form-check-label" for="A1">A1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="reading" class="form-check-input" type="radio" value="A2" name="reading">
                        <label class="form-check-label" for="A2">A2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="reading" class="form-check-input" type="radio" value="B1" name="reading">
                        <label class="form-check-label" for="B1">B1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="reading" class="form-check-input" type="radio" value="B2" name="reading">
                        <label class="form-check-label" for="B2">B2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="reading" class="form-check-input" type="radio" value="C1" name="reading">
                        <label class="form-check-label" for="C1">C1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="reading" class="form-check-input" type="radio" value="C2" name="reading">
                        <label class="form-check-label" for="C2">C2</label>
                    </div>
                    <ul class="form-text text-danger">
                        <li *ngIf="e.controls.reading.errors?.required">This
                            field is required</li>
                    </ul>
                </div>

                <!-- writing -->
                <div>
                    <label for="writing">Writing &nbsp;</label>
                    <div class="form-check form-check-inline">
                        <input formControlName="writing" class="form-check-input" type="radio" value="A1" name="writing">
                        <label class="form-check-label" for="A1">A1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="writing" class="form-check-input" type="radio" value="A2" name="writing">
                        <label class="form-check-label" for="A2">A2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="writing" class="form-check-input" type="radio" value="B1" name="writing">
                        <label class="form-check-label" for="B1">B1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="writing" class="form-check-input" type="radio" value="B2" name="writing">
                        <label class="form-check-label" for="B2">B2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="writing" class="form-check-input" type="radio" value="C1" name="writing">
                        <label class="form-check-label" for="C1">C1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="writing" class="form-check-input" type="radio" value="C2" name="writing">
                        <label class="form-check-label" for="C2">C2</label>
                    </div>
                    <ul class="form-text text-danger">
                        <li *ngIf="e.controls.writing.errors?.required">This
                            field is required</li>
                    </ul>
                </div>

                <!-- speaking -->
                <div>
                    <label for="speaking">Speaking &nbsp;</label>
                    <div class="form-check form-check-inline">
                        <input formControlName="speaking" class="form-check-input" type="radio" value="A1" name="speaking">
                        <label class="form-check-label" for="A1">A1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="speaking" class="form-check-input" type="radio" value="A2" name="speaking">
                        <label class="form-check-label" for="A2">A2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="speaking" class="form-check-input" type="radio" value="B1" name="speaking">
                        <label class="form-check-label" for="B1">B1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="speaking" class="form-check-input" type="radio" value="B2" name="speaking">
                        <label class="form-check-label" for="B2">B2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="speaking" class="form-check-input" type="radio" value="C1" name="speaking">
                        <label class="form-check-label" for="C1">C1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="speaking" class="form-check-input" type="radio" value="C2" name="speaking">
                        <label class="form-check-label" for="C2">C2</label>
                    </div>
                    <ul class="form-text text-danger">
                        <li *ngIf="e.controls.speaking.errors?.required">This
                            field is required</li>
                    </ul>
                </div>
            </div>
            <button class="btn btn-info" (click)="onDeleteLanguage(i)">Delete</button>
        </div>
        <button class="btn btn-info" (click)="onAddLanguage()">Add language</button>
    </div>

    <!-- communicationSkills -->
    <div class="form-group">
        <label for="communicationSkills">Communication skills</label>
        <input type="text" name="communicationSkills" class="form-control" formControlName="communicationSkills"
            [ngClass]="{'is-invalid': communicationSkills.errors, 'is-valid': !communicationSkills.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.skill | keyvalue">
                <li *ngIf="communicationSkills.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- organisationslSkills -->
    <div class="form-group">
        <label for="organisationslSkills">Organisational skills</label>
        <input type="text" name="organisationslSkills" class="form-control" formControlName="organisationslSkills"
            [ngClass]="{'is-invalid': organisationslSkills.errors, 'is-valid': !organisationslSkills.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.skill | keyvalue">
                <li *ngIf="organisationslSkills.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- jobRelatedSkills -->
    <div class="form-group">
        <label for="jobRelatedSkills">Job related skills</label>
        <input type="text" name="jobRelatedSkills" class="form-control" formControlName="jobRelatedSkills" [ngClass]="{'is-invalid': jobRelatedSkills.errors, 'is-valid': !jobRelatedSkills.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.skill | keyvalue">
                <li *ngIf="jobRelatedSkills.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- digitalSkills -->
    <div class="form-group">
        <label for="digitalSkills">Digital skills</label>
        <input type="text" name="digitalSkills" class="form-control" formControlName="digitalSkills" [ngClass]="{'is-invalid': digitalSkills.errors, 'is-valid': !digitalSkills.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.skill | keyvalue">
                <li *ngIf="digitalSkills.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- otherSkills -->
    <div class="form-group">
        <label for="otherSkills">Other skills</label>
        <input type="text" name="otherSkills" class="form-control" formControlName="otherSkills" [ngClass]="{'is-invalid': otherSkills.errors, 'is-valid': !otherSkills.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.skill | keyvalue">
                <li *ngIf="otherSkills.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- drivingLicence -->
    <div class="form-group form-check">
        <input type="checkbox" name="drivingLicence" class="form-check-input" autocomplete="off" formControlName="drivingLicence" />
        <label for="drivingLicence">Driving licence</label>
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.drivingLicence | keyvalue">
                <li *ngIf="drivingLicence.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- additionalInformation -->
    <div class="form-group">
        <label for="additionalInformation">Additional information licence</label>
        <input type="text" name="additionalInformation" class="form-control" formControlName="additionalInformation" [ngClass]="{'is-invalid': additionalInformation.errors, 'is-valid': !additionalInformation.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.additionalInformation | keyvalue">
                <li *ngIf="additionalInformation.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Submit Input -->
    <input [disabled]="!form.valid" type="submit" class="btn btn-info" value="Submit" (click)="onCvSubmit()" />

</form>
<!-- Registration Form /-->