<h1 class="page-header  text-center">Company Registration</h1>

<div [ngClass]="messageClass" *ngIf="message" class="w-75 mx-auto  alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- Registration Form -->
<form [formGroup]="form" (submit)="onRegisterSubmit()" class="w-75 mx-auto">

    <!-- Username Input -->
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" formControlName="username" [ngClass]="{'is-invalid':username.errors, 'is-valid': !username.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.username | keyvalue">
                <li *ngIf="username.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>


    <!-- Password Input -->
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid': password.errors, 'is-valid': !password.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.password | keyvalue">
                <li *ngIf="password.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Confirm Password Input -->
    <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <input type="password" name="confirm" class="form-control" formControlName="confirm" [ngClass]="{'is-invalid': confirm.errors || form.errors?.matchingPasswords, 'is-valid': !confirm.errors && !form.errors?.matchingPasswords}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.password | keyvalue">
                <li *ngIf="confirm.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
            <li *ngIf="form.errors?.matchingPasswords">Passwords do not match</li>
        </ul>
    </div>

    <!-- Name Input -->
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" formControlName="name" [ngClass]="{'is-invalid': name.errors, 'is-valid': !name.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.name | keyvalue">
                <li *ngIf="name.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- City Input -->
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" name="city" class="form-control" formControlName="city" [ngClass]="{'is-invalid': city.errors, 'is-valid': !city.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.city | keyvalue">
                <li *ngIf="city.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Address Input -->
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" name="address" class="form-control" formControlName="address" [ngClass]="{'is-invalid': address.errors, 'is-valid': !address.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.address | keyvalue">
                <li *ngIf="address.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Pib Input -->
    <div class="form-group">
        <label for="pib">Pib</label>
        <input type="text" name="pib" class="form-control" formControlName="pib" [ngClass]="{'is-invalid': pib.errors, 'is-valid': !pib.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.pib | keyvalue">
                <li *ngIf="pib.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- numberOfEmployees Input -->
    <div class="form-group">
        <label for="numberOfEmployees">Number of employees</label>
        <input type="number" min="1" name="numberOfEmployees" class="form-control" formControlName="numberOfEmployees"
            [ngClass]="{'is-invalid': numberOfEmployees.errors , 'is-valid': !numberOfEmployees.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.numberOfEmployees | keyvalue">
                <li *ngIf="numberOfEmployees.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>


    <!-- Email Input -->
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid': email.errors, 'is-valid': !email.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.email | keyvalue">
                <li *ngIf="email.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Website Input -->
    <div class="form-group">
        <label for="website">Web site</label>
        <input type="text" name="website" class="form-control" formControlName="website" [ngClass]="{'is-invalid': website.errors, 'is-valid': !website.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.website | keyvalue">
                <li *ngIf="website.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <div class="form-group">
        <label for="workField">Work filed</label>
        <select class="form-control" formControlName="workField" [ngClass]="{'is-invalid': workField.errors, 'is-valid': !workField.errors}">
            <option selected value="">*Select work field</option>
            <option value="IT">IT</option>
            <option value="Telecomunications">Telecomunications</option>
            <option value="Civil Engineering">Civil Engineering</option>
            <option value="Energetics">Energetics</option>
            <option value="Architecture">Architecture</option>
        </select>
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.workField | keyvalue">
                <li *ngIf="workField.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>


    <!-- specialty Input -->
    <div class="form-group">
        <label for="specialty">Specialty</label>
        <input type="text" name="specialty" class="form-control" formControlName="specialty" [ngClass]="{'is-invalid': specialty.errors, 'is-valid': !specialty.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.specialty | keyvalue">
                <li *ngIf="specialty.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Submit Input -->
    <input [disabled]="!form.valid" type="submit" class="btn btn-info mb-5" value="Submit" />


</form>
<!-- Registration Form /-->