<h5 class="page-header text-center">Openings</h5>

<div [ngClass]="messageClass" *ngIf="message" class="w-75 mx-auto mt-3 alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<table class="table">
    <thead>
        <td>#</td>
        <td>Name</td>
        <td>Deadline</td>
    </thead>
    <tbody>
        <tr *ngFor="let o of openings; let i = index">
            <td>{{i+1}}</td>
            <td><a href="" routerLink="../opening/{{o._id}}">{{o.name}}</a></td>
            <td>{{o.deadline | date:'d.M.y H:mm'}}</td>
        </tr>
    </tbody>
</table>