<h1 class="page-header text-center">Student Registration</h1>

<div [ngClass]="messageClass" *ngIf="message" class="w-75 mx-auto  alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- Registration Form -->
<form [formGroup]="form" (submit)="onRegisterSubmit()" class="w-75 mx-auto" action="post">

    <!-- Username Input -->
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" formControlName="username" [ngClass]="{'is-invalid':username.errors, 'is-valid': !username.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.username | keyvalue">
                <li *ngIf="username.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>


    <!-- Password Input -->
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid': password.errors, 'is-valid': !password.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.password | keyvalue">
                <li *ngIf="password.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Confirm Password Input -->
    <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <input type="password" name="confirm" class="form-control" formControlName="confirm" [ngClass]="{'is-invalid': confirm.errors || form.errors?.matchingPasswords, 'is-valid': !confirm.errors && !form.errors?.matchingPasswords}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.password | keyvalue">
                <li *ngIf="confirm.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
            <li *ngIf="form.errors?.matchingPasswords">Passwords do not match</li>
        </ul>
    </div>

    <!-- Name Input -->
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" formControlName="name" [ngClass]="{'is-invalid': name.errors, 'is-valid': !name.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.name | keyvalue">
                <li *ngIf="name.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Surname Input -->
    <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" name="surname" class="form-control" formControlName="surname" [ngClass]="{'is-invalid': surname.errors, 'is-valid': !surname.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.surname | keyvalue">
                <li *ngIf="surname.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Telephone Input -->
    <div class="form-group">
        <label for="telephone">Telephone</label>
        <input type="text" name="telephone" class="form-control" formControlName="telephone" [ngClass]="{'is-invalid': telephone.errors, 'is-valid': !telephone.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.telephone | keyvalue">
                <li *ngIf="telephone.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>


    <!-- Email Input -->
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid': email.errors, 'is-valid': !email.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.email | keyvalue">
                <li *ngIf="email.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- currentYear Input -->
    <div class="form-group">
        <label for="currentYear">Current year</label>
        <input type="number" min="1" max="5" name="currentYear" class="form-control" formControlName="currentYear"
            [ngClass]="{'is-invalid': currentYear.errors, 'is-valid': !currentYear.errors}" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.currentYear | keyvalue">
                <li *ngIf="currentYear.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Graduated Input -->
    <div class="form-group form-check">
        <input type="checkbox" name="graduated" class="form-check-input" autocomplete="off" formControlName="graduated" />
        <label for="graduated">Graduated</label>
        <ul class="form-text text-danger">
            <span *ngFor="let v of vData.graduated | keyvalue">
                <li *ngIf="graduated.hasError(v.key)"> {{v.value[1]}}</li>
            </span>
        </ul>
    </div>

    <!-- Submit Input -->
    <input [disabled]="!form.valid" type="submit" class="btn btn-info" value="Submit" />

</form>
<!-- Registration Form /-->