<h5 class="text-center text-info">Approve applications</h5>
<div [ngClass]="messageClass" *ngIf="message" class="w-75 mx-auto  alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<small>Denying an application must have a reason.</small>
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <td class="font-weight-bold">Approve</td>
            <td class="font-weight-bold">Company</td>
            <td class="font-weight-bold">Packages</td>
            <td class="font-weight-bold">Reason</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of applications">  
            <td>
                <input type="checkbox" [(ngModel)]="a.approved">
            </td>
            <td>{{a.companyName}}</td>
            <td class="w-50">
                - <span *ngFor="let p of a.packages"> - {{p.title}} - </span> -
            </td>
            <td class="w-25">
                <textarea row="5" class="w-100" maxlength="100" [(ngModel)]="a.reason"></textarea>
            </td>
        </tr>
    </tbody>
    <button *ngIf="applications?.length > 0" (click)="onApproveClick()" class="btn btn-info">Approve</button>
</table>