<!-- files -->
<div class="form-group">
    <label>Upload files:</label>
    <input type="file" multiple class="btn btn-info float-right" (change)="onFileChange($event)"
        [disabled]="coverLetter?.value">
</div>

<table class="table table-sm">
    <thead>
        <tr class="font-weight-bold">
            <td>From</td>
            <td>Until</td>
            <td>Where</td>
            <td>Type</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of periods">
            <td>{{p.startDate | date:'d.M.y H:mm'}}</td>
            <td>{{p.endDate | date:'d.M.y H:mm'}}</td>
            <td>
                <select class="form-control-sm" [(ngModel)]="p.location">
                    <option *ngFor="let l of fair.locations" value="{{l}}">{{l}}</option>
                </select>
            </td>
            <td>
                <select class="form-control-sm" [(ngModel)]="p.type">
                    <option value="lesson">Lesson</option>
                    <option value="workshop">Workshop</option>
                    <option value="presentation">Presentation</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>

<button class="btn btn-info" (click)="onNextClick()">Next</button>