<h1 class="page-header text-center">Login</h1>

<div [ngClass]="messageClass" *ngIf="message" class="w-75 mx-auto  alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!-- Login Form -->
<form [formGroup]="form" (submit)="onLoginSubmit()" class="w-75 mx-auto" action="post">

    <!-- Username Input -->
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" [ngClass]="{'is-invalid': (form.controls.username.errors && form.controls.username.dirty), 'is-valid': !form.controls.username.errors}"
            autocomplete="off" placeholder="*Username" formControlName="username" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">This field is
                required</li>
        </ul>
    </div>

    <!-- Password Input -->
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" [ngClass]="{'is-invalid': (form.controls.password.errors && form.controls.password.dirty), 'is-valid': !form.controls.password.errors}"
            autocomplete="off" placeholder="*Password" formControlName="password" />
        <!-- Validation -->
        <ul class="form-text text-danger">
            <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">This field is
                required</li>
            <li *ngIf="form.controls.password.errors?.minlength && form.controls.password.dirty || form.controls.password.errors?.maxlength && form.controls.password.dirty ">Minimum
                characters: 8, Maximum characters: 12</li>
            <li *ngIf="form.controls.password.errors?.validatePassword && form.controls.password.dirty">Must have
                at least one uppercase, lowercase, special character, and number</li>
        </ul>
    </div>

    <div>
        <div class="form-check form-check-inline">
            <input formControlName="type" class="form-check-input" type="radio" value="admin" name="type">
            <label class="form-check-label" for="admin">admin</label>
        </div>
        <div class="form-check form-check-inline">
            <input formControlName="type" class="form-check-input" type="radio" value="student" name="type">
            <label class="form-check-label" for="student">student</label>
        </div>
        <div class="form-check form-check-inline">
            <input formControlName="type" class="form-check-input" type="radio" value="company" name="type">
            <label class="form-check-label" for="company">company</label>
        </div>
    </div>
    <br />

    <!-- Submit Input -->
    <input [disabled]="!form.valid" type="submit" class="btn btn-info" value="Login" />

</form>
<!-- Login Form /-->